* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  color: rgba(0, 0, 0, 0.54);
}
p {
  margin: 0;
}
code {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
button {
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}
